<html lang="en">
{% load staticfiles %}
{% load widget_tweaks %}
  <head>
      <link rel="Shortcut icon" href="#">
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
          
          
          
          
  </head>
  <body style="background-color:black;">
  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MCQ Test</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">Reset Password</a></li>
       
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
    <div class="container" style="background-color:white;border-radius:10px;">
      <div class="header">
        <h3 class="text-muted">Password reset form</h3>
      </div>
       <div class="row" style="padding:20px;">

          <form role="form" action="." method="post">
           {% csrf_token %} <!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->
           
           <!-- If there are non-field errors in the form,
                iterate over them one by one and display them.
            -->
           {% if form.non_field_errors %}
            <p class="error">
  	          {% for error in form.non_field_errors %}
		            {{ error }}
		          {% endfor %}
            </p>
           {% endif %}
           <!-- Iterate over the fields in a form and render them  -->
           {% for field in form %}
            <div class="form-group">
              <!-- Render the field label tag -->
		          {{ field.label_tag }}
              <!-- If the field is required, display a * next to the field label -->
              {% if field.field.required %}
              *
              {% endif %}
              <br/>
                 <div class="col-md-4"
              <!-- Render the input field -->
		          {{ field|add_class:'form-control' }}
		        <!-- Iterate over the field's errors, if any and display
                 them one by one in a error alert
            -->
		        {% if field.errors %}
		          <p class="error">
		          {% for error in field.errors %}
		            {{ error }}
		          {% endfor %}
		          </p>
		        {% endif %}
				</div>
          {% endfor %}
             
    		<input type="submit" class="btn btn-default" value="Submit" />
                </div>
   	  </form>

       <p>Try entering your current Email Id through which you had registered with the MCQ account. eg. someones@domain.com </p>
      </div>
    </div>

  </body>
</html>