<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
      <link rel="Shortcut icon" href={% static "testapp/1025.png" %}>
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Password reset initiated</h3>
      </div>
       <div class="row">

       <div class="alert alert-success">
		successfully Email has been sent
       </div>
       </div>
    </div>
  </body>
</html>
